config ARCH_RK30XX
	depends on ARCH_RK30
	bool

config ARCH_RK3066B
	depends on ARCH_RK30
	bool

choice
	prompt "Rockchip SoC Type"
	depends on ARCH_RK30
	default SOC_RK3066

config SOC_RK3000
	bool "RK3000"
	select ARCH_RK30XX

config SOC_RK3028
	bool "RK3028"
	select ARCH_RK3066B

config SOC_RK3066
	bool "RK3066"
	select ARCH_RK30XX

config SOC_RK3068
	bool "RK3068"
	select ARCH_RK30XX

config SOC_RK3066B
	bool "RK3066B"
	select ARCH_RK3066B
	select USB_ARCH_HAS_EHCI

config SOC_RK3108
	bool "RK3108"
	select ARCH_RK3066B
	select USB_ARCH_HAS_EHCI

config SOC_RK3168
	bool "RK3168"
	select ARCH_RK3066B
	select USB_ARCH_HAS_EHCI

config SOC_RK3168M
	bool "RK3168M"
	select ARCH_RK3066B
	select USB_ARCH_HAS_EHCI

endchoice

choice
	prompt "RK30xx Board Type"
	depends on ARCH_RK30XX
	default MACH_RK30_SDK

config MACH_RK30_SDK
	bool "RK30 SDK board"
	
config MACH_RK30_DS975
	bool "RK30 DS975 board"

config MACH_RK3066_SDK
	bool "RK3066 SDK board"

config MACH_RK30_DS1001B
        bool "RK30 DS1001B board"
     
config MACH_RK30_PHONE
	bool "RK30 smart phone board"

config MACH_RK30_PHONE_LOQUAT
	bool "RK30 smart phone loquat board"

config MACH_RK30_PHONE_A22
        bool "RK30 smart phone a22 board"
	
config MACH_RK30_PHONE_PAD
        bool "RK30 phone pad board"
	
endchoice

choice
	prompt "RK30 phone pad board type"
	depends on MACH_RK30_PHONE_PAD
	default MACH_RK30_PHONE_PAD_DS763

	config MACH_RK30_PHONE_PAD_DS763
	bool "ds763"

	config MACH_RK30_PHONE_PAD_C8003
	bool "c8003"

endchoice

choice
	prompt "RK3028 Board Type"
	depends on SOC_RK3028

config MACH_RK3028_TB
	bool "RK3028 Top Board"

endchoice

choice
	prompt "RK3066B Board Type"
	depends on SOC_RK3066B

config MACH_RK3066B_FPGA
	bool "RK3066B FPGA board"
	select RK_FPGA

config MACH_RK3066B_SDK
	bool "RK3066B SDK board"

config MACH_RK3066B_M701
	bool "RK3066B M701 board"

endchoice

choice
	prompt "RK3108 Board Type"
	depends on SOC_RK3108

config MACH_RK3108_TB
	bool "RK3108 Top Board"

endchoice

choice
	prompt "RK3168 Board Type"
	depends on SOC_RK3168

config MACH_RK3168_TB
	bool "RK3168 Top Board"

config MACH_RK3168_LR097
	bool "RK3168 LR097 JC21CA board"

config MACH_RK3168_DS1006H
	bool "RK3168 DS1006h Board"

config MACH_RK3168_86V
	bool "RK3168 86V Board"

config MACH_RK3168_86V_OLD
        bool "RK3168 86V  Old Board"
        
config MACH_RK3168_FAC
        bool "RK3168 Board for factory"
        select MACH_RK_FAC

endchoice

choice
	prompt "RK3168M Board Type"
	depends on SOC_RK3168M

config MACH_RK3168M_TB
	bool "RK3168M Top Board"

endchoice

menuconfig PROJECT_TYPE
	bool "RK30xx Projectg Type"
	
if PROJECT_TYPE
menuconfig MALATA_C8005
	bool "Malata C8005 Project"

menuconfig MALATA_D8002
	bool "Malata D8002 Project"

menuconfig MALATA_D7007
	bool "Malata D7007 Project"

menuconfig MALATA_D7006
	bool "Malata D7006 Project"

menuconfig MALATA_C1016
	bool "Malata C1016 Project"

menuconfig MALATA_D8005
	bool "Malata D8005 Project"

menuconfig MALATA_D7008
	bool "Malata D8005 Project"

menuconfig MALATA_D1002
	bool "Malata D1002 Project"

menuconfig MALATA_C7022
	bool "Malata C7022 Project"

menuconfig MALATA_C7011
	bool "Malata C7011 Project"

menuconfig MALATA_D9001
	bool "Malata D9001 Project"

menuconfig MALATA_C7019A
	bool "Malata C7019A Project"

menuconfig MALATA_C7019B
	bool "Malata C7019B Project"
endif

choice
	prompt "CE CONFIG"
	default UNPASS_CE

config PASS_CE
	bool "CODEC HEADSET PASS CE"

config UNPASS_CE
	bool "CODEC HEADSET UNPASS CE"
endchoice

choice
	prompt "HEADSET CE CONFIG"
	default UN_HEADSET_PASS_CE

config HEADSET_PASS_CE
	bool "CODEC RT5631 HEADSET PASS CE"

config UN_HEADSET_PASS_CE
	bool "CODEC RT5631 HEADSET UNPASS CE"
endchoice

choice
	prompt "RK30xx GPU Type"
	default GPU_SUPPORT_400M

config GPU_SUPPORT_400M
	bool "gpu  support  400M"

config GPU_SUPPORT_266M
	bool "gpu  support  266M"

endchoice
