#
# Hsadc device configuration
#

menuconfig HSADC_SUPPORT
	tristate "Hsadc support"
	depends on ARCH_RK29 || ARCH_RK30
	default n
	help
	  If you want to use Video for Linux, DVB for Linux, or DAB adapters,
	  enable this option and other options below.

if HSADC_SUPPORT

comment "Hsadc support"

config ARCH_29ADC
	bool "RK29 Hsadc_support"
	depends on ARCH_RK29
	---help---
	  RK29 Hsadc support.
	  
config ARCH_30ADC
	bool "RK30 Hsadc support"
	depends on ARCH_RK30
	---help---
	  RK30 Hsadc support.	  

endif # HSADC_SUPPORT
